<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Product Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}" type="text/css" media="all" />
</head>

<body>
    <div id="floater"></div>
    <div id="content">
        </br>Choose your platform:</br>
        <a href="/app/" class="button">Desktop</a>
        <a href="/mobile/" class="button">Mobile</a>
    </div>
    <div id="footer">
        <p>Copyright © 2012 <a href="mailto:alexfikl@gmail.com">Alexandru Fikl</a></p>
    </div>
</body>
</html>
