<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Product Store</title>

    <!-- ExtJS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/extjs/resources/css/ext-all.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/extjs/examples/shared/icons/silk.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/extjs/resources/css/xtheme-gray.css') }}" />
    <!-- LIBS -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/extjs/adapter/ext/ext-base.js') }}"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/extjs/ext-all.js') }}"></script>

    <!-- UI File -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui.js') }}"></script>

</head>
<body>
</body>
</html>
