body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	color:#8C8984;
	font-size:13px;
	background: #8C8984;
	font-family:Arial, Helvetica, sans-serif;
}

#centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

#fancyClock{
    margin:40px auto;
	height:200px;
	border:1px solid #111111;
	width:600px;
}


/* The styles below are only necessary for the demo page */

h1{
	background-color:#222222;
	border-bottom:1px solid black;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:20px;
	font-weight:normal;
	margin-bottom:15px;
	padding:15px;
	text-align:center;
}

h2 {
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-right:140px;
	position:relative;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:-48px;
}


a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

p.tutInfo{
	/* The tutorial info on the bottom of the page */
	padding:10px 0;
	text-align:center;
	position:absolute;
	bottom:0px;
	background-color:#222222;
	border-top:1px solid black;
	width:100%;
}
